#home {
    background-color: rgb(242, 238, 233);
 }

@font-face {
font-family: "Josefin Sans";
src: url(JosefinSans-Light.ttf);
}

@font-face {
font-family: "Playfair Display";
src: url(PlayfairDisplay-VariableFont_wght.ttf);
}

p { 
    font-family:"Josefin Sans";
    width: 500px;
    color: rgb(36, 36, 36);
    line-height: 1.5;
}

h1 {font-family: "Playfair Display";
    font-weight: 600;
    font-size: 63px;
    margin-top: 70px;
    color: rgb(115, 0, 10);
    margin-left: 150px;
    
}

.svi {
    margin-left: 150px;
    text-align: justify;
}
#drugi {
     color:  rgb(115, 1, 35);
}
#treci {
    color: rgb(36, 36, 36);
    font-style: italic;
    font-weight: bold;
    margin-bottom: 150px;
}
   
.navbar, a{
    font-family:"Josefin Sans";
    font-size: 12px;
    font-weight:bold;
    justify-content: center;
    display: flex;
    gap: 50px;
    color: rgb(36, 36, 36);
    padding-top: 30px;
    text-decoration: none;
}
#bez{
    color:rgb(228, 218, 205);
}

 li {
    width: fit-content;
    font-family:"Josefin Sans";
    color: rgb(36, 36, 36);
 }
 .podnaslov {
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 35px;
    line-height: 2;
    color:  rgb(115, 1, 35);
    margin-left: 200px;
    width: fit-content;
 }
 .vremeplov{
    padding-bottom: 100px;
 }
 .beznaslov {
    color:rgb(228, 218, 205);
    font-family: "Playfair Display";
    font-weight: 600;
    font-size: 60px;
    margin-left: 150px;
 }
 .dizajneri{
    background-color: rgb(115, 1, 35) ;
    padding-top: 10px;
    padding-bottom: 70px;
    display: flex;
    width: 100%
 }
#imena{
    margin-left: 150px;
    color:rgb(228, 218, 205);
    line-height: 2;
    flex: 1;
    margin-right: 150px;
}
.imena{
    margin-top: 150px;
}
.naslov{
    font-family: "Playfair Display";
    color:  rgb(115, 1, 35);
    font-weight: 600;
    font-size: 63px;
    margin-left: 150px;
}
.natuknice{
    margin-left: 200px;
    width: fit-content;
    line-height: 2;
}
.inputelement{
    width: 500px;
    display: flex;
    display: inline-block;
}
label, input, fieldset, ::placeholder, option, select {
    margin-top:30px;
    margin-bottom:35px;
    color:rgb(228, 218, 205);
    font-family:"Josefin Sans";
}
::placeholder {
    padding-left: 20px;
}

label {
    margin-bottom: 20px;
    margin-right: 10px;
}
input{
    margin-right: 50px;
}
form {
    margin-left: 200px;
    margin-right: 200px;
}
.plavo{
    background-color: rgb(7, 52, 73);
    padding-bottom: 150px;
    padding-top: 20px;
}
#okvir{
    width: 200px;
    height: 30px;
    border-color:rgb(228, 218, 205);
    background-color: rgb(7, 52, 73);
    border-radius: 25px;
    border-style: solid;
}

#poruka {
    width: auto;
    height: 100px;
    border-color:rgb(228, 218, 205);
    background-color: rgb(7, 52, 73);
    border-radius: 25px;
    border-style: solid;
    width: 100%;
}
#fieldset {
    margin-right: 20px;
}
#gumb {
    width: 100px;
    height: 30px;
    border-color:rgb(228, 218, 205);
    background-color: rgb(7, 52, 73);
    border-radius: 25px;
    border-style: solid;
}
#razdoblja{
    background-color:  rgb(115, 1, 35);  
}
 #razul, #link{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(228, 218, 205);
    font-family:"Josefin Sans";
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 3.5;
 }

 #razli {
    border-bottom: dotted rgb(178, 168, 153) 3.5px;
    width: 500px;
 }
    #link:hover {
    font-size: 25px;
    text-shadow: 2px 2px 2px rgb(7, 52, 73);
    text-decoration: underline;
}
table {
    margin:200px;
    margin-top: 100px;
    border-collapse: collapse;
}
td, th {
    border: 3px solid rgb(115, 1, 35);
    padding: 15px;
    font-family:"Josefin Sans";
    color: rgb(36, 36, 36);
}
#pojmovi {
    font-family: "Playfair Display";
    color:  rgb(115, 1, 35);
    font-weight: 600;
    font-size: 43px;
}